body{
    background-image: radial-gradient(circle, #BEE1FD, #5AC4FD, #54C3FD, #4AB6FD, #33A3FC);
    font-family: 'Signika', sans-serif;
}

#searchContainer{
    background-color: none;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#searchBox{
    border-color: #ED4234;
    border-width: 5px;
    height: 50px;
    width: 33%;
}
#pokeButton{
    border-color: #ED4234;
    border-width: 5px;
    height: 50px;
}

#mainContainer{
    background-color: #BEE1FD;
    border-width: 5px;
    border-color: #ED4234;
    display: flex;
    height: 500px;
    width: 75%;
}
#pokeImgContainer{
    background-color: none;
    width: 250px;
    align-items: center;
}
#textArea{
    background-color: none;
    width: 250px;
}
#evoContainer{
    background-color: none;
    width: 250px;
}